/*
Фон
фон шапки   #FFFFFF;
Hero   #2F303A;
button   #2196F3;
фон Переваги підприємства + Чим ми займаємося #F5F5F5;
фон Наша команда    #F5F4FA;
футер   #2F303A;
*/

/*
Текст
логотип   #2196F3;
логотип   #000000
Hero h1 + button + footer p   #FFFFFF;
nav+ h2 + h3   #212121;
tel + p   #757575;
footer mail + tel   rgba(255, 255, 255, 0.6);
*/

/*
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-logo-color: #000000;
  --address-color: rgba(255, 255, 255, 0.6);

  --workarea-color: #f5f5f5;
  --team-color: #f5f4fa;
*/

:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --hero-footer-color: #2f303a;
  --title-color: #212121;
  --adv-workarea-color: #f5f5f5;
  --typical-letter-spacing: 0.03em;
}
body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*-----------HEADER------------*/
.header-logo {
  color: #000000;
  /*border-color: inherit;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--typical-letter-spacing);
}
.accent-logo {
  color: var(--accent-color);
}
.header-link {
  color: var(--title-color);
}
.auth-nav-link {
  color: var(--primary-text-color);
}
.header-link,
.auth-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-item .active {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/*-----------HERO------------*/
.hero {
  background-color: var(--hero-footer-color);
}
.hero-main-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/*.hero-btn:hover,
.hero-btn:focus*/

/*-----------ADVANTAGES------------*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.advantages-title,
.workarea-title-section,
.team-title-section {
  color: var(--title-color);
  font-weight: 700;
  letter-spacing: var(--typical-letter-spacing);
}
.advantages-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--typical-letter-spacing);
}

/*-----------WORKAREA------------*/
.workarea-title-section {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*-----------TEAM------------*/
.team {
  background-color: #f5f4fa;
}
.team-title-section {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--typical-letter-spacing);
}

/*-----------FOOTER------------*/
.footer {
  color: var(--primary-white-color);
  background-color: var(--hero-footer-color);
}
.footer-logo {
  color: var(--primary-white-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--typical-letter-spacing);
}
.address-mail-link,
.address-tel-link {
  color: rgba(255, 255, 255, 0.6);
}
.address-text,
.address-mail-link,
.address-tel-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--typical-letter-spacing);
}

/*------------PORTFOLIO--------------*/
/*----------FILTER-BUTTON------------*/
.portfolio-page {
  font-family: 'Roboto', sans-serif;
}

.portfolio-btn,
.portfolio-list-item,
.portfolio-list-text {
  font-family: 'Roboto', sans-serif;
}
.portfolio-btn {
  color: var(--title-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: var(--typical-letter-spacing);
  cursor: pointer;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  background-color: #188ce8;
}
.portfolio-list-item {
  background-color: var(--primary-white-color);
}
.portfolio-list-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list-text {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: var(--typical-letter-spacing);
}
